/* HOME PAGE */

/* HERO */

.hero {
  position: relative;
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: calc(100% / 4);
  left: calc(100% / 10);
  padding: 0 30px;
  border-radius: 5px;
  border: solid red 2px;
  width: 400px;
  height: 250px;
}
.hero .banner {
  width: 100vw;
  height: 520px;
  object-fit: cover;
}
.hero .tear {
  position: absolute;
  bottom: 0;
  right: 0;
}

.signup-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
}
