/* GENERAL RULES */

.wrapper {
  margin: 0 auto;
  width: 90vw;
}

h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
h2 {
  font-size: 20px;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
}

/* HEADER */
header {
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}
header .searchbar {
  border-radius: 5px;
  border: none;

  padding: 10px;
  width: 50%;
  height: 1vh;
}

header button {
  padding: 5px 10px;
  margin-right: 10px;
}

header .connect-btn {
  color: #007782;
  background-color: white;
  margin-right: 10px;
  border: 1px solid #007782;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}
header .signup-btn {
  color: #007782;
  background-color: white;
  margin-right: 10px;
  border: 1px solid #007782;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}
header .disconnect-btn {
  margin-right: 10px;
  background-color: orange;
  border: 1px solid orange;
  color: white;
}
header .sell-btn {
  padding: 5px 10px;
  background-color: #007782;
  color: white;
  border: 1px solid #007782;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
/* HOME PAGE */

/* HERO */

.hero-container {
  position: relative;
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: calc(100% / 4);
  left: calc(100% / 10);
  padding: 0 30px;
  background-color: white;
  border-radius: 5px;
  border: solid lightgrey 2px;
  width: 380px;
  height: 297px;
}
.hero-container .banner {
  width: 100vw;
  height: 800px;
  object-fit: cover;
}
.hero-container .tear {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-container a {
  padding: 15px 20px;
  font-size: 16px;
  margin-bottom: 15px;
  color: white;
  background-color: #007782;
  border-radius: 10px;
}

.offer-card-container {
  margin-bottom: 60px;
  /* border: solid black 2px; */
  width: calc(100% / 5 - 80px / 5);
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
.home-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1225px;
  margin: 0 auto;
  justify-content: space-between;
  row-gap: 20px;
}

/* OFFER PAGE */

.offer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--light-grey-vinted);
  margin: 50px;
}

.main-picture img {
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
}
.main-infos {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.infos-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  padding: 50px 50px;
}
.infos-top {
  height: 50%;
  border-bottom: 1px solid lightgray;
}

.product-details {
  display: flex;
  flex-direction: column;
}
.product-price {
  font-size: 24px;
  margin-bottom: 20px;
}

.infos-bottom {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  /* border: 2px solid var(--vert-vinted); */
}

.infos-owner {
  display: flex;
  align-items: center;
}
/* PUBLISH PAGE */

.publish-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text-input-section {
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}
.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.text-input > input,
.text-input > textarea {
  width: 50%;
  border: none;
  border-bottom: 1px solid lightgray;
  color: black;
  font-size: 16px;
}
.checkbox-section {
  width: 50%;
}
.checkbox-section > input {
  border: none;
  border-bottom: 1px solid lightgray;
  color: black;
  font-family: inherit;
  font-size: 16px;
  margin-bottom: 40px;
}
.publish-container form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
}
.form-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.form-button > input {
  padding: 5px 10px;
  background-color: #007782;
  color: white;
  border: 1px solid #007782;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.upload-file {
  color: #007782;
  font-weight: 700;
  margin: 0 auto;
  border: 1px solid #007782;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* SIGNUP PAGE */

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-bottom: 100px;
}
.signup-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.signup-container input {
  height: 35px;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #fcced3;
  font-size: 16px;
}
.checkbox {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
}

/* PAYMENT */

.payment-container {
  width: 50vw;
  margin: 0 auto;
  padding: 40px 20px;
}

.payment-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.payment-content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  width: 100%;
}

.pay-btn {
  padding: 5px 10px;
  background-color: #007782;
  color: white;
  border: 1px solid #007782;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
