/* GENERAL RULES */

.wrapper {
  margin: 0 auto;
  width: 90vw;
}

h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
h2 {
  font-size: 20px;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
}

/* HEADER */
header {
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}
header .searchbar {
  border-radius: 5px;
  border: none;

  padding: 10px;
  width: 50%;
  height: 1vh;
}

header button {
  padding: 5px 10px;
  margin-right: 10px;
}

header .connect-btn {
  color: #007782;
  background-color: white;
  margin-right: 10px;
  border: 1px solid #007782;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}
header .signup-btn {
  color: #007782;
  background-color: white;
  margin-right: 10px;
  border: 1px solid #007782;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}
header .disconnect-btn {
  margin-right: 10px;
  background-color: orange;
  border: 1px solid orange;
  color: white;
}
header .sell-btn {
  padding: 5px 10px;
  background-color: #007782;
  color: white;
  border: 1px solid #007782;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
/* HOME PAGE */

/* HERO */

.hero-container {
  position: relative;
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: calc(100% / 4);
  left: calc(100% / 10);
  padding: 0 30px;
  background-color: white;
  border-radius: 5px;
  border: solid lightgrey 2px;
  width: 380px;
  height: 297px;
}
.hero-container .banner {
  width: 100vw;
  height: 520px;
  object-fit: cover;
}
.hero-container .tear {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-container a {
  padding: 15px 20px;
  font-size: 16px;
  margin-bottom: 15px;
  color: white;
  background-color: green;
  border-radius: 10px;
}
.signup-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
}

.offer-card-container {
  margin-bottom: 60px;
  /* border: solid black 2px; */
  width: calc(100% / 5 - 80px / 5);
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
.home-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1225px;
  margin: 0 auto;
  justify-content: space-between;
  row-gap: 20px;
}
/* Publish page */

.publish-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text-input-section {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}
.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.text-input > input,
.text-input > textarea {
  width: 50%;
  border: none;
  border-bottom: 1px solid lightgray;
  color: black;
  font-size: 16px;
}
.checkbox-section {
  width: 50%;
}
.checkbox-section > input {
  border: none;
  border-bottom: 1px solid lightgray;
  color: black;
  font-family: inherit;
  font-size: 16px;
  margin-bottom: 40px;
}
.form-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.form-button > input {
  padding: 5px 10px;
  background-color: #007782;
  color: white;
  border: 1px solid #007782;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
